<img src=""/>

Exercise: Basic Syntax, Conditional Statements and Loops
========================================================

Problems for exercise and homework for the [<span
class="underline">Python Fundamentals Course
@SoftUni</span>](https://softuni.bg/trainings/2442/python-fundamentals-september-2019).
Submit your solutions in the SoftUni judge system at [<span
class="underline">https://judge.softuni.bg/Contests/1719</span>](https://judge.softuni.bg/Contests/1719)

1.Jenny's Secret Message
==
----------------------

Jenny studies programming with python and wants to create a program that
**greets a user** when he/she gives his/her **name**. Jenny however is
in love with **Johnny**, and would like to **greet him differently**.
Can you help her?

### Examples

| **Input** | **Output**          |
|-----------|---------------------|
| Peter     | **Hello, Peter!**   |
| Amy       | **Hello, Amy!**     |
| Johnny    | **Hello, my love!** |

In [ ]:
name = input()

if name == 'Johnny':
    print('Hello, my love!')
else:
	print(f'Hello, {name}!')

2.Drink Something
==
---------------

**Kids** drink **toddy**, **Teens** drink **coke**, **Young adults**
drink **beer**, **Adults** drink **whisky**.

Make a program that receives an age, and returns what they drink.

**<span class="underline">Rules:</span>**

**Kids** **under 14** years old.

**Teens under 18** years old.

**Young adults under 21** years old.

**Adults above 21**.

***<span class="underline">Note:</span>*** All the values except the
last one are inclusive!

### Examples

| **Input** | **Output**       |
|-----------|------------------|
| 13        | **drink toddy**  |
| 17        | **drink coke**   |
| 21        | **drink beer**   |
| 30        | **drink whisky** |

In [ ]:
age = int(input())

kids = age <= 14
teens = age <= 18
young_adults = age <= 21
adults = age > 21

if kids:
    print('drink toddy')
elif teens:
    print('drink coke')
elif young_adults:
    print('drink beer')
elif adults:
    print('drink whisky')

3.Leonardo DiCaprio Oscars
==
------------------------

Write a program that receives a **single integer** number and prints
**different messages** depending on the number:

-   If Oscar **is** **88** - **"Leo finally won the Oscar! Leo is
    > happy".**

-   If Oscar **is** **86** - **"Not even for Wolf of Wall Street?!"**

-   If Oscar is **not** **88** **nor** **86** (and **below 88**) -
    > **"When will you give Leo an Oscar?"**

-   If Oscar is **over 88** - **"Leo got one already!"**

### Examples

| **Input** | **Output**                                  |
|-----------|---------------------------------------------|
| 88        | **Leo finally won the Oscar! Leo is happy** |
| 86        | **Not even for Wolf of Wall Street?!**      |
| 81        | **When will you give Leo an Oscar?**        |
| 89        | **Leo got one already!**                    |

In [ ]:
n = int(input())
if n == 88:
    print('Leo finally won the Oscar! Leo is happy')
elif n == 86:
    print('Not even for Wolf of Wall Street?!')
elif n != 88 and n != 86 and n < 88:
    print('When will you give Leo an Oscar?')
elif n > 88:
    print('Leo got one already!')

4.Double Char
==
-----------

Given a string, you have to print a string in which each character
(case-sensitive) is repeated.

### Examples

| **Input**   | **Output**            |
|-------------|-----------------------|
| Hello World | HHeelllloo WWoorrlldd |
| 1234!       | **11223344!!**        |

In [ ]:
word = input()
doubled_word = ''
for i in word:
    doubled_word = i + i
    print(doubled_word, end='')

5.Can't Sleep? Count Sheep
==
------------------------

If you can't sleep, just count sheep! Given a non-negative integer, 3
for example, return a string with a murmur: **"1 sheep...2 sheep...3
sheep..."** Input will always be valid, i.e. no negative integers.

### Examples

| **Input** | **Output**                                         |
|-----------|----------------------------------------------------|
| 5         | 1 sheep...2 sheep...3 sheep...4 sheep...5 sheep... |
| 1         | **1 sheep...**                                     |

In [ ]:
n_sheeps = int(input())
for i in range(1, n_sheeps+1):
    print(f'{i} sheep...', end='')

6.Next Happy Year
==
---------------

You're saying good-bye your best friend, "***See you next happy
year"***. Happy Year is the year with only **distinct digits**, (e.g)
2018. Write a program that receives an integer number and finds the next
happy year.

### Examples

| **Input** | **Output** |
|-----------|------------|
| 8989      | **9012**   |
| 1001      | **1023**   |

In [ ]:
def happy_year(num):
    string = str(num)
    for x in range(len(string)):
        for y in string[x + 1:]:
            if string[x] == y:
                num += 1
                return happy_year(num)
    return num

year = int(input())
HAPPY_RESULT = happy_year(year + 1)
print(HAPPY_RESULT)

7.Maximum Multiple
==
----------------

Given a **Divisor** and a **Bound**, find the largest integer **N**,
such that:

N is **divisible by divisor**

N is **less than or equal to bound**

N is **greater than 0**.

***<span class="underline">Notes:</span>*** The **divisor** and
**bound** are only **positive values**. It's guaranteed that a **divisor
is found**

### Examples

<table>
<thead>
<tr class="header">
<th><strong>Input</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><p>2<br>7</p></td>
<td><strong>6</strong></td>
</tr>
<tr class="even">
<td><p>10<br>50</p></td>
<td><strong>50</strong></td>
</tr>
<tr class="odd">
<td><p>37<br>200</p></td>
<td><strong>185</strong></td>
</tr>
</tbody>
</table>

In [ ]:
divider = int(input())
num_ = int(input())
result = 0

for i in range(num_, 1, -1):
    if i % divider == 0:
        result = i
        break

print(result)

\*8. Mutate Strings
==
-----------------

You will be given **two strings**. **Transform the first** string into
**the second** one, **one letter at a time** and **print it.** Print
only the **unique** strings

***<span class="underline">Note:</span>*** the strings will have the
same lengths

### Examples

<table>
<thead>
<tr class="header">
<th><strong>Input</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><p>bubble gum<br>turtle hum</p></td>
<td><p><strong>tubble gum</strong></p>
<p><strong>turble gum</strong></p>
<p><strong>turtle gum</strong></p>
<p><strong>turtle hum</strong></p></td>
</tr>
<tr class="even">
<td><p>Kitty<br>Doggy</p></td>
<td><p><strong>Ditty</strong></p>
<p><strong>Dotty</strong></p>
<p><strong>Dogty</strong></p>
<p><strong>Doggy</strong></p></td>
</tr>
</tbody>
</table>

\*9. Easter Cozonacs
==
------------------

*Since it’s Easter you have decided to make some cozonacs and exchange
them for eggs.*

Create a program that **calculates** how much **cozonacs** you can make
with the **budget** you **have**. **First**, you will **receive** your
**budget**. Then, you will **receive** the **price** for **1 kg flour**.
Here is the **recipe** for **one** cozonac:

| **Eggs**  | **1 pack**  |
|-----------|-------------|
| **Flour** | **1 kg**    |
| **Milk**  | **0.250 l** |

The **price for 1 pack of eggs** is **75%** of the **price** **for 1 kg
flour**. The **price** for **1l** **milk** is **25%** **more** than
price for **1 kg flour**. Notice, that you need **0.250l milk** for
**one** cozonac and the calculated price is for **1l**.

**Start** cooking the cozonacs and **keep making** them until you have
**enough budget**. Keep in mind that:

-   For **every** cozonac that you make, you will receive **3 colored
    > eggs**.

-   For **every** **3<sup>rd</sup>** cozonac that you make, you will
    > lose some of your **colored** eggs **after** you have **received**
    > the usual **3 colored eggs** for your cozonac. The count of eggs
    > you will lose is calculated when you **subtract** **2** from your
    > **current** **count** of **cozonacs** – **({currentCozonacsCount}
    > – 2)**

In the end, print the cozonacs you made, the eggs you have gathered and
the money you have **left**, **formatted** to the **2<sup>nd</sup>
decimal place**, in the following format:

**"You made {countOfCozonacs} cozonacs! Now you have {coloredEggs} eggs
and {moneyLeft}BGN left."**

### Input / Constraints

-   On the **1<sup>st</sup> line** you will receive the budget – a
    > **real number** in the range \[0.0…100000.0\]

-   On the **2<sup>nd</sup> line** you will receive the price for **1 kg
    > flour** – a **real number** in the range \[0.0…100000.0\]

-   The input will always be in the right format.

-   You will **always** have a **remaining** **budget**.

-   There will **not** be a case in which the **eggs** become a
    > **negative** **count**.

### Output

-   In the end print the **count** of **cozonacs** you have made, the
    > colored **eggs** you have gathered and the **money** **formatted**
    > to **the 2<sup>nd</sup>** decimal place in the format described
    > above.

### Examples

<table>
<tbody>
<tr class="odd">
<td><strong>Input</strong></td>
<td><strong>Output</strong></td>
</tr>
<tr class="even">
<td><p>20.50<br>1.25</p></td>
<td>You made 7 cozonacs! Now you have 16 eggs and 2.45BGN left.</td>
</tr>
<tr class="odd">
<td><strong>Comments</strong></td>
<td></td>
</tr>
<tr class="even">
<td><p>We start by calculating the price for a <strong>pack of eggs</strong>, which is <strong>75%</strong> of the price for <strong>1 kg</strong> floor, which in this case is <strong>1.25</strong>. The pack of eggs price is <strong>0.9375</strong>. The price for <strong>1l milk</strong> is <strong>25%</strong> more than the price for <strong>1kg</strong> floor and in this case it is – <strong>1.5625</strong>, but we need the price for 0.250ml, which is - <strong>0.390625</strong>. The total price for one cozonac is:</p>
<p><strong>1.25</strong> + <strong>0.9375 + 0.390625</strong> = <strong>2.578125</strong>.</p>
<p>And we start subtracting the <strong>price</strong> for a <strong>single</strong> cozonac <strong>from the budget</strong>, and <strong>for every cozonac</strong> we receive <strong>3</strong> eggs. So after the first <strong>subtraction</strong> we will have <strong>17.921875</strong> budget, <strong>1</strong> cozonac and <strong>3</strong> eggs. After the second <strong>- 15.34375</strong> budget, <strong>6</strong> eggs, and on the <strong>third</strong> - <strong>12.765625 budget</strong> and <strong>9 eggs</strong> and since it’s the <strong>third</strong>, we need to <strong>subtract</strong> the <strong>lost eggs</strong>, which will be 3 – 2 = <strong>1</strong>, so we subtract 1 from 9 and our <strong>eggs</strong> become <strong>8</strong>. We continue <strong>subtracting</strong> money from the <strong>budget</strong> until the money <strong>aren't enough</strong> for us to make a cozonac. In the end we have 2.45BGN left.</p></td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td></td>
</tr>
<tr class="even">
<td><p>15.75<br>1.4</p></td>
<td>You made 5 cozonacs! Now you have 14 eggs and 1.31BGN left.</td>
</tr>
</tbody>
</table>

\*10. Christmas Spirit
==
-------------------

*It's time to get in a Christmas mood. You have to decorate the house in
time for the big event, but you have limited days to do so.*

You will receive **allowed quantity** for **one type** of decoration and
**days** left until Christmas day to decorate the house.

There are **4 types** of decorations and each piece costs a **price**

-   Ornament Set – 2\$ a piece

-   Tree Skirt – 5\$ a piece

-   Tree Garlands – 3\$ a piece

-   Tree Lights – 15\$ a piece

Every **second day** you buy an **Ornament Set** quantity of times and
**increase** your Christmas spirit by **5**.

Every **third day** you buy **Tree Skirts** and **Tree Garlands** (both
quantity of times) and **increase** your spirit by **13**.

Every **fifth day** you buy **Tree Lights** quantity of times and
**increase** your Christmas spirit by **17**. If you have bought Tree
Skirts and Tree Garlands at the **same day** you **additionally
increase** your spirit by **30**.

Every **tenth day** you **lose 20 spirit**, because your cat ruins all
tree decorations and you have to rebuild the tree and buy **one** piece
of tree **skirt**, **garlands** and **lights**. That is why you are
forced to **increase** the allowed **quantity with 2** at the
**beginning** of every **eleventh day**.

Also if the **last day** is a **tenth day** the cat decides to demolish
even more and ruins the Christmas turkey and you **lose** additional
**30 spirit**.

At the end you must print the **total cost** and the **gained spirit**.

### Input / Constraints

The input will consist of **exactly 2 lines**:

-   quantity – **integer in range \[1…100\]**

-   days **– integer in range \[1…100\]**

### Output

At the end print the **total cost** and the total gained **spirit** in
the following format:

-   **"Total cost: {budget}"**

-   **"Total spirit: {totalSpirit}"**

### Examples

<table>
<thead>
<tr class="header">
<th><strong>Input</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><p>1<br>7</p></td>
<td><p>Total cost: 37</p>
<p>Total spirit: 58</p></td>
</tr>
<tr class="even">
<td><strong>Input</strong></td>
<td><strong>Output</strong></td>
</tr>
<tr class="odd">
<td><p>3<br>20</p></td>
<td><p>Total cost: 558</p>
<p>Total spirit: 156</p></td>
</tr>
</tbody>
</table>