<img src=""/>

Exercise: Classes and Objects
=============================

Problems for exercise and homework for the [<span
class="underline">Python Fundamentals Course
@SoftUni</span>](https://softuni.bg/trainings/2442/python-fundamentals-september-2019).
Submit your solutions in the SoftUni judge system at [<span
class="underline">https://judge.softuni.bg/Contests/1734</span>](https://judge.softuni.bg/Contests/1734)

***<span class="underline">Note: Submit only the classes in the judge
system for all tasks. Test your classes with your own code to see if
they work properly.</span>***

1.Storage
==
-------

Create a **class Storage**. The **\_\_init\_\_** method should accept
**one parameter**: the **capacity** of the storage. The Storage class
should also have an attribute called **storage**, where all the items
will be stored. The class should have two additional methods:

-   **add\_product(product)** - adds the product in the storage **if
    there is space** for it

-   **get\_products()** - returns the storage list

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>storage = Storage(4)<br>storage.add_product("apple")<br>storage.add_product("banana")<br>storage.add_product("potato")<br>storage.add_product("tomato")<br>storage.add_product("bread")<br>print(storage.get_products())</p></td>

<td><strong>['apple', 'banana', 'potato', 'tomato']</strong></td>
</tr>
</tbody>
</table>

2.Weapon
==
------

Create a **class Weapon**. The **\_\_init\_\_** method should receive an
amount of **bullets** (**integer**). Create an attribute called
**bullets**, to store them. The class should also have the following
methods:

-   **shoot()** - if there are bullets in the weapon, **reduce** them
    **by 1** and return a message **"shooting…"**. If there are **no
    bullets** left, return: **"no bullets left"**

You should also override the **toString** method, so that the following
code: **print(weapon)** should work. To do that define a
**\_\_repr\_\_** method that returns **"Remaining bullets:
{amount\_of\_bullets}"**. You can read more about the **\_\_repr\_\_**
method here: [<span
class="underline">link</span>](https://www.journaldev.com/22460/python-str-repr-functions)

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>weapon = Weapon(5)<br>weapon.shoot()<br>weapon.shoot()<br>weapon.shoot()<br>weapon.shoot()<br>weapon.shoot()<br>weapon.shoot()<br>print(weapon)</p></td>

<td><strong>Remaining bullets: 0</strong></td>
</tr>
</tbody>
</table>

3.Catalogue
==
---------

Create a **class Catalogue**. The **\_\_init\_\_** method should accept
the **name** of the catalogue. Each catalogue should also have an
**attribute** called **products** and it should be a **list**. The class
should also have **three more methods**:

-   **add\_product(product)** - add the product to the product list

-   **get\_by\_letter(first\_letter)** - returns a list containing only
    the products that start with the given letter

-   **\_\_repr\_\_** - returns the catalogue info in the following
    format:  
    **"Items in the {name} catalogue:  
    {item1}  
    {item2}  
    …**"  
    The items should be **sorted alphabetically** (default sorting)

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>catalogue = Catalogue("Furniture")<br>catalogue.add_product("Sofa")<br>catalogue.add_product("Mirror")<br>catalogue.add_product("Desk")<br>catalogue.add_product("Chair")<br>catalogue.add_product("Carpet")<br>print(catalogue.get_by_letter("C"))<br>print(catalogue)</p></td>

<td><p><strong>['Chair', 'Carpet']</strong></p>
<p><strong>Items in the Furniture catalogue:</strong></p>
<p><strong>Carpet</strong></p>
<p><strong>Chair</strong></p>
<p><strong>Desk</strong></p>
<p><strong>Mirror</strong></p>
<p><strong>Sofa</strong></p></td>
</tr>
</tbody>
</table>

4.Town
==
----

Create a **class Town**. The **\_\_init\_\_** method should receive the
**name** of the town. It should also have **3 more methods**:

-   **set\_latitude(latitude)** - set an attribute called latitude to
    the given one

-   **set\_longitude(longitude)** - set an attribute called longitude to
    the given one

-   **\_\_repr\_\_** - return representation of the object in the
    following string format:  
    **"Town: {name} \| Latitude: {latitude} \| Longitude: {longitude}"**

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>town = Town("Sofia")<br>town.set_latitude("42° 41\' 51.04\" N")<br>town.set_longitude("23° 19\' 26.94\" E")<br>print(town)</p></td>

<td><strong>Town: Sofia | Latitude: 42° 41' 51.04" N | Longitude: 23° 19' 26.94" E</strong></td>
</tr>
</tbody>
</table>

5.Class
==
-----

Create a **class Class**. The **\_\_init\_\_** method should receive the
**name** of the class. It should also have **2 lists** (**students** and
**grades**). Create a **class attribute \_\_students\_count** equal to
**22**. The class should also have **3 additional methods**:

-   **add\_student(name, grade)** - if there is **space** in the class,
    **add** the **student** and the **grade** in the two lists

-   **get\_average\_grade()** - returns the **average** of all existing
    **grades** formatted to the **second decimal** point (as a
    **number**)

-   **\_\_repr\_\_** - returns the string (**single line**): **"The
    students in {class\_name}: {students}. Average grade:
    {get\_average\_grade()}".** The students must be seperated by **",
    "**

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>a_class = Class("11B")<br>a_class.add_student("Peter", 4.80)<br>a_class.add_student("George", 6.00)<br>a_class.add_student("Amy", 3.50)<br>print(a_class)</p></td>

<td><strong>The students in 11B: Peter, George, Amy. Average grade: 4.77</strong></td>
</tr>
</tbody>
</table>

6.Inventory
==
---------

Create a **class Inventory**. The **\_\_init\_\_** method should accept
only the **capacity** of the inventory. The capacity should be a
**private attribute** (**\_\_capacity**). You can read more about
private attributes [<span
class="underline">here</span>](https://www.tutorialsteacher.com/python/private-and-protected-access-modifiers-in-python).
Each inventory should also have an attribute called **items**, where all
the items will be stored. The class should also have **3 methods**:

-   **add\_item(item)** - adds the item in the inventory if there is
    space for it. Otherwise, returns  
    **"not enough room in the inventory"**

-   **get\_capacity()** - returns the value of **\_\_capacity**

-   **\_\_repr\_\_()** - returns **"Items: {items}.\\nCapacity left:
    {left\_capacity}"**. The items should be separated by **", "**

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>inventory = Inventory(2)<br>inventory.add_item("potion")<br>inventory.add_item("sword")<br>inventory.add_item("bottle")<br>print(inventory.get_capacity())<br>print(inventory)</p></td>

<td><p><strong>not enough room in the inventory</strong></p>
<p><strong>2</strong></p>
<p><strong>Items: potion, sword.</strong></p>
<p><strong>Capacity left: 0</strong></p></td>
</tr>
</tbody>
</table>

7.Articles
==
--------

Create a **class Article**. The **\_\_init\_\_** method should accept
**3 arguments**: **title**, **content**, **author**. The class should
also have **4 methods**:

-   **edit(new\_content)** - changes the old content to the new one

-   **change\_author(new\_author)** - changes the old author to with the
    new one

-   **rename(new\_title)** - changes the old title with the new one

-   **\_\_repr\_\_()** - returns the following string **"{title} -
    {content}: {author}"**

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>article = Article("some title", "some content", "some author")<br>article.edit("new content")<br>article.rename("new title")<br>article.change_author("new author")<br>print(article)</p></td>

<td><strong>new title - new content: new author</strong></td>
</tr>
</tbody>
</table>

\*8. Vehicle
==
----------

Create a **class Vehicle**. The **\_\_init\_\_** method should receive:
**typ**e, **model**, **price**. You should also set the **owner** to
**None**. The class should have the following methods:

-   **buy(money, owner)** - if the person **has enough money** and the
    vehicle has **no owner**, returns: **"Successfully bought a {type}.
    Change: {change}"** and **sets** the **owner** to the given one. If
    the **money is not enough**, return: **"Sorry, not enough money"**.
    If the car **already has** an **owner**, return: **"Car already
    sold"**

-   **sell()** - if the car **has an owner**, set it to **None** again.
    Otherwise, return: **"Vehicle has no owner**"

-   **\_\_repr\_\_()** - returns **"{model} {type} is owned by:
    {owner}"** if the vehicle **has** an **owner**. Otherwise, return:
    **"{model} {type} is on sale: {price}"**

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>vehicle_type = "car"<br>model = "BMW"<br>price = 30000<br>vehicle = Vehicle(vehicle_type, model, price)</p>

<td><p><strong>Sorry, not enough money</strong></p>
<p><strong>Successfully bought a car. Change: 5000.00</strong></p>
<p><strong>BMW car is owned by: George</strong></p>
<p><strong>BMW car is on sale: 30000</strong></p></td>
</tr>
</tbody>
</table>

\*9. Movie
==
--------

Create a **class Movie**. The **\_\_init\_\_** method should receive a
**name** and **director**. It should also have default value of an
attribute **watched** to be **False**. There should also be a class
attribute **\_\_watched\_movies** which will keep track of all the
watched movies. The class should have the following methods:

-   **change\_name(new\_name)** - changes the name of the movie

-   **change\_director(new\_director)** - changes the director of the
    movie

-   **watch()** - change the **watched** attribute to **True** and
    **increase** the **total watched** movies class attribute (if the
    movie **is not already watched**)

-   **\_\_repr\_\_()** - returns **"Movie name: {name}; Movie director:
    {director}. Total watched movies: {\_\_wached\_movies}"**

### Example

<table>
<thead>
<tr class="header">
<th><strong>Test Code</strong></th>
<th><strong>Output</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">

<td><p>first_movie = Movie("Inception", "Christopher Nolan")<br>second_movie = Movie("The Matrix", "The Wachowskis")<br>third_movie = Movie("The Predator", "Shane Black")<br>first_movie.change_director("Me")<br>third_movie.change_name("My Movie")<br>first_movie.watch()<br>third_movie.watch()<br>first_movie.watch()<br>print(first_movie)<br>print(second_movie)<br>print(third_movie)</p></td>

<td><p><strong>Movie name: Inception; Movie director: Me. Total watched movies: 2</strong></p>
<p><strong>Movie name: The Matrix; Movie director: The Wachowskis. Total watched movies: 2</strong></p>
<p><strong>Movie name: My Movie; Movie director: Shane Black. Total watched movies: 2</strong></p></td>
</tr>
</tbody>
</table>